<!-- <div class="scroll-y, table-scroll">
    <app-search-bar></app-search-bar>
    <Table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Order Number</th>
                <th scope="col">Status</th>
                <th scope="col">Order Created</th>
                <th scope="col">Order Completed</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders">
                <td> 
                    <a routerLink="/order-detail/{{order.id}}">
                    <span>{{order.id}}</span>
                </a>
             </td>
                <td>{{order.status}}</td>
                <td>{{order.orderCreated}}</td>
                <td>{{order.orderCompleted}}</td>
            </tr>
        </tbody>
        
    </Table>
    <router-outlet></router-outlet>
</div> -->


<div class="scroll-y, table-scroll">
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Create Day</th>
                    <th>Order Status</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let order of orders">
                  
                    <td><a [routerLink]="['/order-detail/',order.orderId]">{{order.orderId}}</a></td>
                    <td>{{order.dateOrdered}}</td>
                    <td>{{order.orderStatus}}</td>
                        
                </tr>
            </tbody>
    
        </table>
</div>

