
<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Create Day</th>
                <th>Order Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of pendingOrders">
              
                <td><a [routerLink]="['/order-detail/',order.orderid]">{{order.orderid}}</a></td>
                <td>{{order.dateordered}}</td>
                <td>{{order.orderstatus}}</td>
            </tr>
        </tbody>

    </table>
</div>
