<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Order Status</th>
                <th>Order Created</th>
                <!-- <th>Order Completed</th> -->
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of orders| paginate
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
              
                <!-- <td><a [routerLink]="['/order-detail/',order.orderId]">{{order.orderId}}</a></td> -->
                <!-- <td><a routerLink="/order-detail/{{order.orderId}}">{{order.orderId}}</a></td> -->
                <td><a [routerLink]="['/order-detail', order.orderid]">{{order.orderid}}</a></td>
                <td>{{order.orderstatus}}</td>
                <td>{{order.dateordered}}</td>
                <!-- <td>{{order.dateShipped}}</td> -->

                <!-- <td><a [routerLink]="['/order-detail/',order.orderid]">{{order.orderid}}</a></td>
                <td>{{order.dateordered}}</td>
                <td>{{order.orderstatus}}</td>
                <td>{{order.dateordered}}</td>
                <td>{{order.dateshipped}}</td> -->
            </tr>
        </tbody>

    </table>
</div>
<div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>


</div>
