<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Create Day</th>
                <th>Order Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of pendingOrders">
              
                <td><a [routerLink]="['/order-detail/',order.orderId]">{{order.orderId}}</a></td>
                <td>{{order.dateOrdered}}</td>
                <td>{{order.orderStatus}}</td>
            </tr>
        </tbody>

    </table>
</div>
