<h2>Mock Dashboard</h2>
<div>
    <table class="items">
        <tr *ngFor="let item of items">
            <td class="badge">
                <!-- [class.selected]="item == selectedItem" type="button" (click)="onSelect(item)" -->
                <a routerLink="/orderDetails/{{item.id}}">
                 <span>{{item.id}}</span>   
                </a>
            </td>
            <td class="name">
                <span>{{item.name}}</span>
            </td>
        </tr>
    </table>
</div>

