.bg-transparent {
    background-color: transparent;
  }
  
  :host {
    height: 100%;
  }
  
  .photo {
    object-fit: contain;
  }
  
  .card {
    width: 20rem;
    margin: 0 auto;
  }

  .btnGoogleSignin1:before {
    content: url(https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png);
}

.btnGoogleSignin1 {
    background-color: #fff0;
    border: 0px;
    padding: 0px;
}