<div class="container">
    <div class="row py-2">
        <div class="card col-3 mx-3" style="width: 18rem;">
            <div class="card-header py-3" style="font-size: 20px;">
                Total Orders Shipped:
            </div>
            <div class="card-body align-self-center py-5">
                <h2 style="font-size: 60px;">{{totalOrdersShipped}}</h2>
            </div>
        </div>
        <div class="card col-3 mx-3" style="width: 18rem;">
            <div class="card-header py-3" style="font-size: 20px;">
                Total Orders Shipped:
            </div>
            <div class="card-body align-self-center py-5">
                <h2 style="font-size: 60px;">{{totalOrdersShipped}}</h2>
            </div>
        </div>

        <div class="card col-3 mx-3" style="width: 18rem;">
            <div class="card-header py-3" style="font-size: 20px;">
                Total Orders Shipped:
            </div>
            <div class="card-body align-self-center py-5">
                <h2 style="font-size: 60px;">{{totalOrdersShipped}}</h2>
            </div>
        </div>

        <div class="card col-3 mx-3" style="width: 18rem;">
            <div class="card-header py-3" style="font-size: 20px;">
                Total Orders Shipped:
            </div>
            <div class="card-body align-self-center py-5">
                <h2 style="font-size: 60px;">{{totalOrdersShipped}}</h2>
            </div>
        </div>
    </div>
</div>