<p>order-detail-window works!</p>

<div *ngIf="order">
    <h1 style="font-size: 40px;">Order Details</h1>
    
    <h3>Customer Details:</h3>
    <ol>
        <li>
            <h2>Items: </h2>
            <h2>{{order.itemInfo}}</h2>
            
        </li>
    </ol>
    
    <h2>Order#: {{order.id}}</h2>
    <div class="card-container">

        <div class="card">
            <div class="card-header">
                Customer Details
            </div>
            <div class="card-body">
                <h2>100</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Items
            </div>
            <div class="card-body">
                <h2>100</h2>
            </div>
        </div>
    
    </div>

</div>


<button type="button" (click)="goBack()">Go Back</button>